<% provide(:title, @trip) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      
        <%= @trip.trip_id %></br>
        <%= @trip.destination %></br>
        <%= @trip.title %></br>
        <%= @trip.start_date %></br>
        <%= @trip.end_date %></br>
        <%= @trip.destination_lat %></br>
        <%= @trip.destination_lng %></br>
      </h1>
    </section>
  </aside>
</div>